.mono {
	font-family: 'Space Mono', monospace;
	font-weight: 400;
}
.italic {
	font-style: italic;
}
.mono-bold {
	font-family: 'Space Mono', monospace;
	font-weight: 700;
}
.gallery li {
	margin-right: 10px;
}
.gallery-email-categories li  {
	height:150px; 
	background-color: #dcdce8; 
	margin-right: 10px;
	position: relative;
	padding: 10px;
	border: 2px solid #4e6890;
}
.gallery-email-categories img {
	width: 90%;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.hero-unit-darken {
	background: 
    linear-gradient(
      rgba(78, 108, 117, 0.9),
      rgba(78, 108, 117, 0.9)
    ),
    url(https://source.unsplash.com/category/technology/1200x600);
	background-size: cover;
	color: #fff;
	position: relative;
}
.navbar-bluebeam {
	padding-bottom:18px;
	border-bottom:0;
}
.navbar-bluebeam .nav>li>a { 
	color: #fff;
}
.navbar .brand {
	margin-top: 0;
}