.gallery {
	overflow: hidden;
	margin: 0 0 10px 0;
}
.gallery:before,
.gallery:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.gallery:after {
  clear: both;
}
.gallery li {
	float: left;
	width: 24.5%;
	padding: 1px;
	list-style: none;
	@include media(tablet) {
		width: 32.8%;
	}
	@include media(smallTablet) {
		width: 49%;
	}
}
.gallery-media li {
	width:33%;
}
.description li {
height:20em;
}
.no-desc li {
height:11em;
}
.video li {
height:13.5em;
}
.gallery-media img {
	margin: 0 auto .5em;
}
.gallery li:nth-child(4n+1) {
	clear: left;
}
.gallery li:nth-child(3n+1) {
    @include media(tablet) {
    	clear: left;
    }
    @include media(smallTablet) {
    	clear: none;
    }
}
.gallery img {
	display: block;
}
.gallery li:nth-child(odd) {
	clear: none;
}
/*
Gallery element with more emphasis on the first item
*/

.gallery-featured li {
	width: 32.6%;
	margin-right: 1%;
	margin-bottom:1%;
	@include media(tablet) {
		width: 49.5%;
		margin-right: 1%;
		margin-bottom:1%;
	}
}
.gallery-featured li:first-child {
	width: 66.3%;
	@include media(tablet) {
		width: 100%;
		margin-right: 0;
	}
}
.gallery-featured li:nth-child(2), 
.gallery-featured li:nth-child(3) {
	margin-right: 0;
}
.gallery-featured li:nth-child(3n) {
	margin-right: 0;
	clear: right;
}
.gallery-university img {
	margin: 0 auto 0.2em;
}
.gallery-university li {
	width:16%;
	@include media(tablet) {
		width: 24%;
	}
	@include media(smallTablet) {
		width: 32%;
	}
}
.gallery-university li:nth-child(6n+1) {
	clear: left;
}
.gallery-university li:nth-child(odd) {
	clear: none;
}
/*
Gallery with two side by side instead of 4
*/
.gallery-two {
	overflow:visible;
	li {
		width: 49%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {

	.gallery li:nth-child(2n+1) {
	clear: none;
	}
	.gallery-featured li:nth-child(2) {
		margin-right: 1%;
	}
	.gallery-featured li:nth-child(2n+1) {
		margin-right: 0;
		clear: right;
	}
	.gallery-featured li:nth-child(3n+6) {
		margin-right: 1%;
		clear:none;
	}
	.gallery-university li:nth-child(4n+1) {
	clear: left;
	}
	.gallery-university li:nth-child(3n+1) {
	clear: none;
	}
}
@media (max-width: 767px) {
.gallery li:nth-child(2n+1) {
clear: left;
}
.gallery li:nth-child(odd) {
clear: none;
}
	.gallery-university li:nth-child(2n+1) {
	clear: left;
	}
	.gallery-university li:nth-child(odd) {
	clear: none;
	}
}
