.well {
	min-height: 20px;
	padding: 19px 19px 12px 19px;
	margin-bottom: 20px;
}
.well-large {
	padding: 24px;
}
.well-small {
	padding: 9px;
}
.well-clear {
	background-color: #fff;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}