/* Color Variables */
$blue: #0083db;
$green: #8DC632;
$purple: #5b56a6;
$orange: #ff9900;
$red: #c1282b;
/* Greys */
$light-gray:#E2E7EB;
$gray: #b3b8bc;
$dark-gray:#6d787f;

$white: #fff;
$black: #000;

/* Typography */

$base-font-size: 16px;
$base-line-height: 25px;
$base-font-family: 'AvenirLTStd-Book', Arial, sans-serif;
$bold-font-family: 'AvenirLTStd-Black', Arial, sans-serif;
$subheading-font-family:"ProximaNova-Regular", Arial, san-serif;